html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  background-color: #f5f5f5;
}

.container .text-muted {
  margin: 20px 0;
}

.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}

.navbar-right {
  margin-right: 15px;
}

.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}

.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
          
  box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}

.alert {
	margin-bottom: 0;
	margin-top: 20px;
	padding: 5px;
}

.cover {
	width: 320px;
}

.book-mini-view {
	margin: 0 auto;
	float: none;
}

.price {
	float: right;
	font-weight: bold;
}

.discount {
	color: red;
	line-height: 1;
	font-size: 160%;
}

.old-price {
	text-decoration: line-through;
}

.line-through {
	text-decoration: line-through;
	margin: 0 1px;
}

.red {
	color: red;
}

.navbar-default .navbar-nav>li:HOVER{
	color: #555;
	background-color: #e7e7e7;
}

.row {
	margin-top: 15px;
}

.dollar:AFTER {
	content: '$';
}
